.btn{

    position: relative;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;

    //SIZE
    &--sm{
        padding: 10px 20px;
        font-size: 14px;
    }
    &--md{
        padding: 20px 40px;
        font-size: 18px;
    }
    &--lg{
        padding: 30px 60px;
        font-size: 24px;
    }

    //MOD
    &--wrap{
        position: relative;
        display: inline-block;
    }
    &--primary{
        @extend .btn;
        background: #3f51b5;
        color: #fff;
        &:hover{
            background: #3f51b5;
        }
    }
    &--success{
        @extend .btn;
        background: green;
        color: #fff;
    }
    &--danger{
        @extend .btn;
        background: red;
        color: #fff;
    }

}
