@import '../../Style/main.scss';

.grid{

    position: relative;
    display: grid;
    grid-gap: 20px;

    &--nav{
        @include rwd(mobile){
            @include grid(1, 20px);
        }
        @include rwd(tablet,desktop){
            @include grid(2, 20px);
        }
    }

    &--tasks{
        @include rwd(mobile){
            @include grid(1, 20px);
        }
        @include rwd(tablet){
            @include grid(2, 20px);
        }
        @include rwd(desktop){
            @include grid(3, 20px);
        }
    }

}
