$breakpoints: (
    xs: 320px,
    sm: 567px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

$rwd_version: (
    mobile: (
        from: 0,
        to: map-get($breakpoints, md)
    ),
    tablet: (
        from: map-get($breakpoints, md),
        to: map-get($breakpoints, xl)
    ),
    desktop: (
        from: map-get($breakpoints, xl),
        to: false
    ),
);
