@function rwdValue( $value, $from:true ) {
    @if map-has-key($breakpoints, $value) {
        @if ($from) {
            @return map-get($breakpoints, $value);
        }@else {
            @return map-get($breakpoints, $value) - 1px;
        }
    } @else if is-int($value) {
        @return $value;
    } @else {
        @error 'rwdValue() - wartość nie jest liczbą oraz brak zdefiniowanego breakpointa.';
    }
}

@mixin rwd( $from:0, $to:false ){
    @if map-has-key( $rwd_version, $from ){
        $version: map-get( $rwd_version, $from );
        $from: map-get( $version, from );
        @if map-has-key( $rwd_version, $to ){
            $version_to: map-get( $rwd_version, $to );
            $to: map-get( $version_to, to );
        }
        @else {
            $to: map-get( $version, to );
        }
    }
    @if ($to) {
        @media (min-width: rwdValue($from)) and (max-width: rwdValue($to,false)){ @content; }
    }
    @else{
        @media (min-width: rwdValue($from)) { @content; }
    }
}
