.page{
    color: #fff;
    background: #2196f3;
    background-image: linear-gradient(to bottom right, #2196f3, #00bcd4);
    min-height: 100vh;
    width: 100%;
    padding: 5vh;
    box-sizing: border-box;

    .page__content{
        max-width: 992px;
        margin:auto;
    }
}
